p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.36px;
    
    /* This centers the paragraph */
    margin: auto;
    width: 75%;
    padding: 25px;

}