.logo-img-flex {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo-image {
  width: 213px;
  height: 213px;
  z-index: 1;
  border-radius: 25%;
}

.logo-img-flex img {
  animation: floating 3s ease-in-out infinite;
}


.name,
.headline {
  color: #fbfbfb;
  display: flex;
  width: 670px;
  height: 127px;
  padding: 0px 8px 0px 6px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* This centered my name and the headline */
.name,
.headline {
  width: auto;
}

.name { 
    font-family: fira;
  color: var(--Primary-Color, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 63.357px; /* 115.195% */
}

.headline {
  color: var(--Primary-Color, #fff);
  text-align: center;
  font-family: Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 63.357px; /* 115.195% */
}
