.nbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: var(--bs-secondary-color);
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

#logo {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.nbar a:hover {
    opacity: 0.3;
}

.nav-link {
    color: white;
    font-size: larger;
}

.navbar-light .navbar-toggler:active {
  background-color: #ffffff; /* Set your desired background color when toggler is open */
}
  
@media (max-width: 767px){
    #logo {
       display: none;
    }

    .nav {
        background-color: none;
    }
}
  